@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
 
:root {
    --primary-color: #900b0b;
    --primary-color-dark:#470707;
    --secondary-color: #fef6f7;
    --text-dark:black;
    --text-light:grey;
    --extra-light:white;
    --max-width:95%;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    transition: background-color 0.5s ease, color 0.5s ease;
}
#intro {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: var(--secondary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  z-index: 9999;
  animation: fadeOut 1s ease forwards;
  animation-delay: 4.5s; 
}

.intro-img {
  width: 270px;
  height: 270px;
  border-radius: 8%;
  object-fit: cover;
  border: 2px solid var(--primary-color-dark);

  animation: zoomIn 1.5s ease forwards;
}
.intro-name {
  font-size: 2.4rem;
  color: var(--primary-color-dark);
  line-height: 4rem;

  opacity: 0;
  animation: slideUp 1.5s ease forwards;
  animation-delay: 1.7s;
}

@keyframes zoomIn {
  from {
    transform: scale(0);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes slideUp {
  from {
    transform: translateY(40px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fadeOut {
  to {
    opacity: 0;
    visibility: hidden;
  }
}

#theme-toggle {
    padding: 6px 10px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 18px;
    transition: 0.3s;
    margin-right: 4rem;
}
nav {
    width: 100%;
    position: static;
    top: 0;
    left: 0;
    background-color: white;
    z-index: 80%;
}
.nav__content{
    max-width: var(--max-wight);
    margin: auto;
    padding: 1.5rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
} 
nav .logo a{
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--primary-color);
    margin-left: 4rem;

}
nav .checkbox {
    display: none;
}
nav input {
    display: none;
}
nav .checkbox i {
    font-size: 2rem;
    color:var(--primary-color);
    cursor:pointer;
}
ul {
    display: flex;
    align-items: center;
    gap: 1rem;
    list-style: none;
    transition: left 0.5s;
}
ul li a{
    padding: 0.5rem 1rem;
    border: 2px solid transparent;
    text-decoration: none;
    font-weight: 600;
    color:var(--text-dark);
    transition: 0.5s;

}
ul li a:hover {
    border-top-color: var(--primary-color);
    border-bottom-color: var(--primary-color);
    color: var(--primary-color);
}
.section {
    background-color: var(--secondary-color);
    
}
.section__container {
    min-height: 80vh;
    width: var(--max-width);
    margin: auto;
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(2,1fr);
   justify-content: space-around;
   gap:2rem;
}
.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.2rem;
    margin-left: 2rem;
    margin-top: 3rem;

}
.subtitle{
    letter-spacing: 2px;
    color: var(--text-dark);
    font-weight: 600;
    margin-bottom: .5rem;
    margin-top: 2rem;
}
.title{
    font-size: 2.5rem;
    line-height: 4rem;
    color: var(--text-dark);

}
.title span{
    line-height: 3rem;
    color: var(--primary-color);
}
.typing-text {
    font-size: 2.4rem;
    color: var(--text-dark);
    white-space: nowrap;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
}
.description {
    line-height: 2rem;
    color: var(--text-light);
    margin-bottom: 2rem;
    font-size: 1.4rem;
}

.action__btns {          
    display: flex;                     
}


.action__btns .portfolio {
    width: 260px;
    height: 40px;
    background-color: #f5f5f5;      
    color: var(--primary-color);                    
    border-radius: 8px;              
    text-decoration: none;           
    transition:  0.5s transform ease;   
    border: 2px solid var(--primary-color);  
    font-weight: bold;
    align-items: center;
    display: flex;
    justify-content: center;


}

.action__btns .portfolio:hover {
    background-color: var(--primary-color-dark);   
    color: white;   
    transform: scale(1.05);        
    cursor: pointer;
}


.image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
    
.image img{
    
    width:60% ;
    height: 70%;
    border-radius: 10%;
    transition: transform 0.5s ease;
    border: 2px solid var(--primary-color-dark);
}
.image img:hover{
    transform: scale(1.1);
}

@media (width <750px){
    nav .checkbox{
        display: block;
    }
    ul{
        position: absolute;
        width: 100%;
        height: calc(100vh -85px);
        left: -100%;
        top: 80px;
        background-color: var(--extra-light);
        flex-direction: column;
        justify-content: center;
        gap:3rem;

    }
    nav #check:checked ~ ul{
        left: 0;
    }
    ul li a {
        font-size: 1.25rem;  
    
    }
    .section__container{
        padding: 10rem 1rem 5rem 1rem;
        text-align: center;
        grid-template-columns: repeat(1, 1fr);

    }
    .image{
        grid-area:1/1/2/2;

    }
    .action__btns{
        margin: auto;
    }

}
.section__container1{
    width: var(--max-width);
    margin: auto;
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

.section__container1 h6{
    font-size: 3rem;
    margin-left: 2rem; 
    padding: 0;
    color: var(--primary-color);
}
  .Formations {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    padding: 40px;
    margin-top: 40px;
  }
  
  .card {
    background-color:white;
    border-radius: 10%;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.20);
    padding: 25px;
    transition: transform 0.5s ease;
    border-left: 4px solid var(--primary-color-dark);
  }
  
  .card:hover {
    transform: translateY(-8px);
    background-color:var(--secondary-color);
    border-left-color:var(--primary-color) ;
  }
  
  .card p {
    margin: 8px 0;
    line-height: 2rem;
    color: var(--text-dark);
    justify-content: center;
    text-align: center;
    
  }
  .card  h3 {
    color: var(--primary-color);
    margin-top: 30px;
    margin-bottom: 10px;
    font-size: 2rem;
    justify-content: center;
    text-align: center;
    position: relative;
    width: 100%;
  }
  .card h3::after  {
    content:"";
    display: block;
    width: 100%;
    height: 2px;
    background-color: var(--primary-color-dark);
    margin-top: 5px;
  }

 .titre-h7 {
    font-size: 3rem;
    font-weight: bold;
    margin-top : 30px; 
    padding: 0;
    color: var(--primary-color);
}
.Expériences {
    padding: 2rem;
    background-color: var(--secondary-color);
    border-radius: 10%;
}
.titre-h8,
.titre-h9 {
    text-align: center;
    margin-bottom: 1.4rem;
    color: var(--primary-color);
    font-size: 2rem;
    border-bottom:  0.1rem solid var(--primary-color-dark) ;
}
.Expériences-item {
    margin-top: 3rem;
    margin-bottom: 1.4rem;
    padding: 1rem;
    background-color: white;
    border-left: 4px solid var(--primary-color-dark);
    border-right: 4px solid var(--primary-color-dark);
    border-radius: 5px;
    transition: transform 0.5s ease; 
}
.Expériences-item:hover{
    transform: translateY(-8px);
    background-color: var(--secondary-color);
}
.Expériences-item p,
.Expériences-item span {
    margin-top: 1rem;
    margin-left: 2rem;

}
.timeline {
    position: relative;
    margin-top: 3rem;
    padding-left: 40px;
}

.titre-10 {
    font-size: 3rem;
    font-weight: bold; 
    padding: 0;
    margin-top: 4rem;
    color: var(--primary-color);
   
}
.date {
    color: #900b0b;
    font-size: 1.8rem;
}
.social-icons a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: var(--primary-color);
    width: 3.4rem;
    height: 3.4rem;
}
.social-icons a:hover {
    color: white;
    transform: scale(1.2) translateY();
    background-color: var(--primary-color);
    border-radius: 20px;
}
.contact-section {
    margin-top: 1rem;
    margin-left: 2rem;
    width: var(--max-width);
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.contact-container {
    width: 100%;
    display: grid;
    align-items: center;
    gap: 5rem;
}

.contact-form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.contact-form label {
    font-size: 1rem;
    font-weight: 500;
    color: var(--text-dark);
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 1rem;
    border: 2px solid var(--primary-color);
    background-color: #fff;
    border-radius: 10%;
    outline: none;
    font-size: 1rem;
}

.contact-form textarea {
    min-height: 150px;
    resize: none;
}

.send-btn {
    width: 120px;
    margin-top: 1rem;
    padding: 0.8rem 1.2rem;
    border-radius: 10%px;
    border: none;
    cursor: pointer;
    font-weight: 600;
    letter-spacing: 1px;
    background-color: var(--primary-color);
    color: #fff;
    transition: .3s;
}

.send-btn:hover {
    background-color: var(--primary-color-dark);
}
.image2 {
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
}
.image2 img {
    width: 70%;
    height: 70%;
    animation: zoom 3s ease-in-out infinite;
}

@keyframes zoom {
    0%   { transform: scale(1); }
    50%  { transform: scale(1.1); }
    100% { transform: scale(1); }
}

@keyframes rotate {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(15deg); }
    50% { transform: rotate(0deg); }
    75% { transform: rotateX(15deg);}
    100% { transform: rotateY(100deg); }
}

.footer {
    background-color: white; 
    padding: 15px;
    height: 5rem;
    display: flex;
    align-items: center;
}

.footer-content {
    width: var(--max-width);
    margin: auto;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    
}

.footer-links {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 1rem; 
}

.footer-links li a {
    text-decoration: none;
    color: black;
    font-weight: 600;
    transition: 0.5s;
}

.footer-links li a:hover {
     border-top-color: var(--primary-color);
    border-bottom-color: var(--primary-color);
    color: var(--primary-color);; 
   
}
body.dark {
    --primary-color: #900b0b;
    --primary-color-dark: #9f1239;
    --secondary-color: #0f172a;
    --text-dark: #f1f5f9;
    --text-light: #94a3b8;
    --extra-light: #1e293b;
}


body.dark nav,
body.dark .footer {
    background-color: var(--extra-light);
}


body.dark .card,
body.dark .Expériences-item,
body.dark .contact-form input,
body.dark .contact-form textarea {
    background-color: var(--extra-light);
    color: var(--text-dark);
}


body.dark a {
    color: var(--text-dark);
}
#profile-img {
    transition: opacity 0.2s ease, transform 0.2s ease;
}
.hero-image {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 3rem;

}
.image-pro {
  flex: 1;
  display: flex;
  justify-content: center;
}
.image-pro img {
  width: 80%;
  height: 580px;
  transition: transform 0.4s ease;
  margin-top: 4rem;
}

.image-pro img:hover {
  transform: scale(1.05);
}
.skills {
  flex: 1.2;
}

.section-title {
  color: var(--primary-color);
  font-size: 3rem;
  margin: 2rem 0px 4rem 2rem;
}

.skills-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
  line-height: 2rem;
}

.skill {
  background: var(--secondary-color);
  text-align: center;
  line-height: 2rem;
  transition: transform 0.5s ease, box-shadow 0.5s ease;
  margin-left: 2rem;
}

.skill img {
  width: 100px;
  margin-bottom: 0.5rem;
}

.skill p {
  font-size: 1.3rem;
  font-weight: bold;
  color: var(--text-dark);
}
.skills1 {
  background: var(--secondary-color);
}

.skills1 ul {
  margin-top: 10px;
  padding-left: 20px;
}

.skills1 ul li {
  margin-bottom: 8px;
  line-height: 1rem;
}
.timeline {
  position: relative;
  margin-top: 30px;
}

.timeline::before {
  content: "";
  position: absolute;
  top: 0;
  width: 4px;
  height: 100%;
  background: var(--primary-color-dark);
}

.timeline-item {
  position: relative;
  display: flex;
}

.timeline-item .dot {
  width: 14px;
  height: 14px;
  margin-left: 1rem;
  background: var(--primary-color-dark);
  border-radius: 50%;
}

.timeline-item .content {
  background: white;
  border-radius: 12px;
  margin-right: 2rem;
  width: var(--max-width);
  transition: transform 0.3s ease;
  border: 2px solid var(--primary-color-dark);
}
 .timeline-item:hover .content {
  transform: translateY(-6px);
  background-color: var(--secondary-color);
}
.skills1 .content h3 {
  font-size: 2rem;
  color: var(--primary-color-dark);
  margin:1rem;
 
}
.skills1 h2 {
  font-size: 3rem;
  color: var(--primary-color);
  margin: 2rem 2rem 4rem 2rem ;
}




